<div>
<img src=https://www.institutedata.com/wp-content/uploads/2019/10/iod_h_tp_primary_c.svg width="300">
</div>

# Lab 3.1.1 
# *Data Wrangling and Munging with Pandas*

## Part 1: Wrangling Data

The term "data wrangling" is analogous to capturing wild horses and getting them into a fenced area; the horses are data and the fencing is your computer. The more common data wrangling tasks include:

- reading flat files
- reading Excel files
- downloading from web pages
  - csv
  - html
  - json

In [3]:
import numpy as np
import pandas as pd

*It is good practice to display the library version numbers for future reference:*

In [4]:
print('Numpy: ', np.__version__)
print('Pandas: ', pd.__version__)

Numpy:  1.19.2
Pandas:  1.1.3

### CSV Files

Below are three attempts to load the file "bikeshare.csv" into a DataFrame named `bikes`. Why are they wrong?

In [5]:
# wrong: treats headings as jsut another data row
bikes = pd.read_table('bikeshare.csv', header = None)
print(bikes.head())
print()

                                                   0
0  instant,dteday,season,yr,mnth,hr,holiday,weekd...
1  1,2011-01-01,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,...
2  2,2011-01-01,1,0,1,1,0,6,0,1,0.22,0.2727,0.8,0...
3  3,2011-01-01,1,0,1,2,0,6,0,1,0.22,0.2727,0.8,0...
4  4,2011-01-01,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,...

In [6]:
# wrong: treats first data row row as the column header 
bikes = pd.read_table('bikeshare.csv', header = 1)
print(bikes.head())
print()

  1,2011-01-01,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0,3,13,16
0  2,2011-01-01,1,0,1,1,0,6,0,1,0.22,0.2727,0.8,0...
1  3,2011-01-01,1,0,1,2,0,6,0,1,0.22,0.2727,0.8,0...
2  4,2011-01-01,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,...
3  5,2011-01-01,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,...
4  6,2011-01-01,1,0,1,5,0,6,0,2,0.24,0.2576,0.75,...

In [7]:
# wrong:gets the header right (row 0), but reads each row as a single column
bikes = pd.read_table('bikeshare.csv', header = 0)
print(bikes.head())

  instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0  1,2011-01-01,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,...
1  2,2011-01-01,1,0,1,1,0,6,0,1,0.22,0.2727,0.8,0...
2  3,2011-01-01,1,0,1,2,0,6,0,1,0.22,0.2727,0.8,0...
3  4,2011-01-01,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,...
4  5,2011-01-01,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,...

?:
ANSWER: Case 1 treats headings as just another data row. Case 2 treats the 1st data row as the column header. Case 3 gets the header right (row 0), but reads each row as a single column (Nb. the other two make that same mistake).

Load the file "bikeshare.csv" into a DataFrame named `bikes`, and confirm that it was loaded properly:

In [13]:
#ANSWER:You can get either to work for general delimited files with read_csv() and read_table().
#The difference are the default parameters, for instance sep is '\t' (tab) for read_table but ',' for read_csv
bikes = pd.read_csv('bikeshare.csv', sep= ',' )
print(bikes.head())

   instant      dteday  season  yr  mnth  hr  holiday  weekday  workingday  \
0        1  2011-01-01       1   0     1   0        0        6           0
1        2  2011-01-01       1   0     1   1        0        6           0
2        3  2011-01-01       1   0     1   2        0        6           0
3        4  2011-01-01       1   0     1   3        0        6           0
4        5  2011-01-01       1   0     1   4        0        6           0

   weathersit  temp   atemp   hum  windspeed  casual  registered  cnt
0           1  0.24  0.2879  0.81        0.0       3          13   16
1           1  0.22  0.2727  0.80        0.0       8          32   40
2           1  0.22  0.2727  0.80        0.0       5          27   32
3           1  0.24  0.2879  0.75        0.0       3          10   13
4           1  0.24  0.2879  0.75        0.0       0           1    1

In [25]:
bikes = pd.read_table('bikeshare.csv', sep='\t')
print(bikes.head())

  instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0  1,2011-01-01,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,...
1  2,2011-01-01,1,0,1,1,0,6,0,1,0.22,0.2727,0.8,0...
2  3,2011-01-01,1,0,1,2,0,6,0,1,0.22,0.2727,0.8,0...
3  4,2011-01-01,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,...
4  5,2011-01-01,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,...

In [30]:
bikes = pd.read_csv("bikeshare.csv", header=0)
bikes.head()

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0,3,13,16
1,2,2011-01-01,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0,8,32,40
2,3,2011-01-01,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0,5,27,32
3,4,2011-01-01,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0,3,10,13
4,5,2011-01-01,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0,0,1,1

In [28]:
bikes.shape

(17379, 17)

In [31]:
bikes.columns

Index(['instant', 'dteday', 'season', 'yr', 'mnth', 'hr', 'holiday', 'weekday',
       'workingday', 'weathersit', 'temp', 'atemp', 'hum', 'windspeed',
       'casual', 'registered', 'cnt'],
      dtype='object')

In [32]:
bikes.dtypes

instant         int64
dteday         object
season          int64
yr              int64
mnth            int64
hr              int64
holiday         int64
weekday         int64
workingday      int64
weathersit      int64
temp          float64
atemp         float64
hum           float64
windspeed     float64
casual          int64
registered      int64
cnt             int64
dtype: object

Note that we could have used `read.csv()` above. When is `read_table()` necessary?

?:
ANSWER: When `sep` is not the comma character, or we need fine control that `read.csv()` does not provide.

Flat files can be full of surprises. Here are some issues to watch out for:

- separator character is something other than the comma
  - ";", "|", and tab are popular
- newline character is something other than what the O/S expects 
  - Tip: Don't hard-code the character codes for carriage returns, linefeeds, etc. Use Python's built-in representation instead (e.g. Python translates "\n" to the newline character and "\t" to the tab character on any O/S).
- truncated lines
  - if there are empty fields at the end of a line it is possible that their separators will be missing, resulting in a "jagged" file
- embedded commas or quotes
  - a free-text field containing embedded commas may split into separate fields on input
  - a free-text field containing embedded quotes may not parse correctly
- unescaped characters
  - the "\" character indicates a control code to Python, which will break the I/O
    - e.g. the substring "\u0123" will be interpreted as Unicode(0123) -- which may not be what the file creator intended
  - these may need to be fixed by loading whole strings and then parsing into a new data frame
  
Tip: Most issues can be delth with by correctly specifying the parameters of the function you use to load the file. Read the doco before reading the data!

### Reading Excel Files

In [18]:
from pandas import ExcelFile  # Nb. Need to install xlrd from conda (it does not automatically install with pandas)

In [93]:
#There was not a sheet_name called "Iris", only two named'Data' and 'Description'
Iris = pd.read_excel('Iris.xls', sheet_name = 'Data') 
Iris.head()

,Species_No,Petal_width,Petal_length,Sepal_width,Sepal_length,Species_name
0,1,0.2,1.4,3.5,5.1,Setosa
1,1,0.2,1.4,3.0,4.9,Setosa
2,1,0.2,1.3,3.2,4.7,Setosa
3,1,0.2,1.5,3.1,4.6,Setosa
4,1,0.2,1.4,3.6,5.0,Setosa

So, this file appears to have an embedded table of aggregates on the same sheet as the raw data (a naughty but common practice amongst analysts).

It is usually better to load data correctly than to meddle with the source file or load it 'warts and all' and then try to parse it in code. The Pandas functions for reading files have parameters that provide the control we need. For ecxample, we could make multiple calls to `read_excel()`, using combinations of the `header`, `usecols`, `skiprows`, `nrows`, and `skipfooter` parameters to load one table at a time from a spreadsheet with multiple tables.

Load the above file without the unwanted columns:

In [94]:
#Header=0. It is important to highlight that header=0 is the default value. 
#Hence we don't need to mention the header= parameter. 
#It means header starts from first row as indexing in python starts from 0.
Iris = pd.read_excel('Iris.xls', sheet_name = 'Data', header=0)
print(Iris)

     Species_No  Petal_width  Petal_length  Sepal_width  Sepal_length  \
0             1          0.2           1.4          3.5           5.1
1             1          0.2           1.4          3.0           4.9
2             1          0.2           1.3          3.2           4.7
3             1          0.2           1.5          3.1           4.6
4             1          0.2           1.4          3.6           5.0
..          ...          ...           ...          ...           ...
145           3          2.3           5.2          3.0           6.7
146           3          1.9           5.0          2.5           6.3
147           3          2.0           5.2          3.0           6.5
148           3          2.3           5.4          3.4           6.2
149           3          1.8           5.1          3.0           5.9

    Species_name
0         Setosa
1         Setosa
2         Setosa
3         Setosa
4         Setosa
..           ...
145    Verginica
146    Verginica
147    Verginica
148    Verginica
149    Verginica

[150 rows x 6 columns]

In [95]:
#Header=None. Python would assign a series of numbers starting from 0 to (number of columns - 1) as column names
Iris = pd.read_excel('Iris.xls', sheet_name = 'Data', header=None)
print(Iris)

              0            1             2            3             4  \
0    Species_No  Petal_width  Petal_length  Sepal_width  Sepal_length
1             1          0.2           1.4          3.5           5.1
2             1          0.2           1.4            3           4.9
3             1          0.2           1.3          3.2           4.7
4             1          0.2           1.5          3.1           4.6
..          ...          ...           ...          ...           ...
146           3          2.3           5.2            3           6.7
147           3          1.9             5          2.5           6.3
148           3            2           5.2            3           6.5
149           3          2.3           5.4          3.4           6.2
150           3          1.8           5.1            3           5.9

                5
0    Species_name
1          Setosa
2          Setosa
3          Setosa
4          Setosa
..            ...
146     Verginica
147     Verginica
148     Verginica
149     Verginica
150     Verginica

[151 rows x 6 columns]

In [96]:
#Header=1. Tells python to pick header from second row. It's setting second row as header. It's not a realistic example.
Iris = pd.read_excel('Iris.xls', sheet_name = 'Data', header=1)
print(Iris)

     1  0.2  1.4  3.5  5.1      Setosa
0    1  0.2  1.4  3.0  4.9      Setosa
1    1  0.2  1.3  3.2  4.7      Setosa
2    1  0.2  1.5  3.1  4.6      Setosa
3    1  0.2  1.4  3.6  5.0      Setosa
4    1  0.4  1.7  3.9  5.4      Setosa
..  ..  ...  ...  ...  ...         ...
144  3  2.3  5.2  3.0  6.7   Verginica
145  3  1.9  5.0  2.5  6.3   Verginica
146  3  2.0  5.2  3.0  6.5   Verginica
147  3  2.3  5.4  3.4  6.2   Verginica
148  3  1.8  5.1  3.0  5.9   Verginica

[149 rows x 6 columns]

In [97]:
#ANSWER: selecting particular columns by number
Iris = pd.read_excel('Iris.xls', sheet_name = 'Data', usecols=[0,1,2,3,4])
print(Iris)

     Species_No  Petal_width  Petal_length  Sepal_width  Sepal_length
0             1          0.2           1.4          3.5           5.1
1             1          0.2           1.4          3.0           4.9
2             1          0.2           1.3          3.2           4.7
3             1          0.2           1.5          3.1           4.6
4             1          0.2           1.4          3.6           5.0
..          ...          ...           ...          ...           ...
145           3          2.3           5.2          3.0           6.7
146           3          1.9           5.0          2.5           6.3
147           3          2.0           5.2          3.0           6.5
148           3          2.3           5.4          3.4           6.2
149           3          1.8           5.1          3.0           5.9

[150 rows x 5 columns]

In [98]:
#ANSWER: selecting particular columns by label
Iris1 = pd.read_excel('Iris.xls', sheet_name='Data', usecols=['Species_No', 'Sepal_width', 'Sepal_length'])
print(Iris1)

     Species_No  Sepal_width  Sepal_length
0             1          3.5           5.1
1             1          3.0           4.9
2             1          3.2           4.7
3             1          3.1           4.6
4             1          3.6           5.0
..          ...          ...           ...
145           3          3.0           6.7
146           3          2.5           6.3
147           3          3.0           6.5
148           3          3.4           6.2
149           3          3.0           5.9

[150 rows x 3 columns]

In [99]:
#Skiprows
Iris = pd.read_excel('Iris.xls', sheet_name="Data", skiprows=[1,5])
print(Iris)

     Species_No  Petal_width  Petal_length  Sepal_width  Sepal_length  \
0             1          0.2           1.4          3.0           4.9
1             1          0.2           1.3          3.2           4.7
2             1          0.2           1.5          3.1           4.6
3             1          0.4           1.7          3.9           5.4
4             1          0.3           1.4          3.4           4.6
..          ...          ...           ...          ...           ...
143           3          2.3           5.2          3.0           6.7
144           3          1.9           5.0          2.5           6.3
145           3          2.0           5.2          3.0           6.5
146           3          2.3           5.4          3.4           6.2
147           3          1.8           5.1          3.0           5.9

    Species_name
0         Setosa
1         Setosa
2         Setosa
3         Setosa
4         Setosa
..           ...
143    Verginica
144    Verginica
145    Verginica
146    Verginica
147    Verginica

[148 rows x 6 columns]

In [100]:
#nrows: to select specific number of rows (first five in this example)
Iris = pd.read_excel('Iris.xls', sheet_name="Data", usecols=[0,1], nrows=5)
print(Iris)

   Species_No  Petal_width
0           1          0.2
1           1          0.2
2           1          0.2
3           1          0.2
4           1          0.2

In [101]:
#skipfooter: to exclude an specific number of rows from the bottom (in this example 20)
Iris = pd.read_excel('Iris.xls', sheet_name="Data", usecols=[3,5], skipfooter=20)
print(Iris)

     Sepal_width Species_name
0            3.5       Setosa
1            3.0       Setosa
2            3.2       Setosa
3            3.1       Setosa
4            3.6       Setosa
..           ...          ...
125          3.2    Verginica
126          2.8    Verginica
127          3.0    Verginica
128          2.8    Verginica
129          3.0    Verginica

[130 rows x 2 columns]

### Importing Data Directly from the Web

We usually want to store a local copy of a data file that we download from the Web, but when data retention is not a priority it is convenient to download the data directly into our running Python environment.

#### Importing Text Files from the Web

The web is the 'wild west' of data formats. However, we can usually expect good behaviour from files that are automatically generated by a service, such as the earthquake report:

In [57]:
df = pd.read_csv('https://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/2.5_hour.csv')
df.head()

,time,latitude,longitude,depth,mag,magType,nst,gap,dmin,rms,...,updated,place,type,horizontalError,depthError,magError,magNst,status,locationSource,magSource
0,2021-01-06T09:04:05.437Z,63.2129,-151.1612,2.3,2.8,ml,NaN,NaN,NaN,1.02,...,2021-01-06T09:07:29.299Z,"46 km SE of Denali National Park, Alaska",earthquake,NaN,0.4,NaN,NaN,automatic,ak,ak

#### Importing HTML Files from the Web

Working with unstructured HTML files relies heavily on library functions. This one, however, is well-structured:

In [78]:
# url to retrieve
url = 'https://en.wikipedia.org/wiki/' + \
      'List_of_airports_by_IATA_code:_A'

# extract the data from the HTML
df = pd.read_html(url, header = 0)[0]
print(df)

     IATA  ICAO                                Airport name  \
0    -AA-  -AA-                                        -AA-
1     AAA  NTGA                                Anaa Airport
2     AAB  YARY                            Arrabury Airport
3     AAC  HEAR              El Arish International Airport
4     AAD  HAAB                               Adado Airport
..    ...   ...                                         ...
548   AZP  MMJC        Jorge Jiménez Cantú National Airport
549   AZR  DAUA  Touat-Cheikh Sidi Mohamed Belkebir Airport
550   AZS  MDCY       Samaná El Catey International Airport
551   AZT   NaN                            Zapatoca Airport
552   AZZ  FNAM                              Ambriz Airport

                                  Location served       Time      DST
0                                            -AA-       -AA-     -AA-
1                Anaa, Tuamotus, French Polynesia  UTC−10:00      NaN
2                 Arrabury, Queensland, Australia  UTC+10:00      NaN
3                                 El Arish, Egypt  UTC+02:00      NaN
4             Adado (Cadaado), Galguduud, Somalia  UTC+03:00      NaN
..                                            ...        ...      ...
548  Ciudad López Mateos, State of Mexico, Mexico  UTC−06:00  Apr-Oct
549                                Adrar, Algeria  UTC+01:00      NaN
550                  El Catey, Dominican Republic  UTC−04:00      NaN
551                            Zapatoca, Colombia  UTC−05:00      NaN
552                                Ambriz, Angola  UTC+01:00      NaN

[553 rows x 6 columns]

In [80]:
# url to retrieve
url = 'https://www.fdic.gov/resources/resolutions/bank-failures/failed-bank-list/'

# extract the data from the HTML
df = pd.read_html(url, header = 0)
print(df)

[                             Bank Name               City State   Cert  \
0                    Almena State Bank             Almena    KS  15426
1           First City Bank of Florida  Fort Walton Beach    FL  16748
2                 The First State Bank      Barboursville    WV  14361
3                   Ericson State Bank            Ericson    NE  18265
4     City National Bank of New Jersey             Newark    NJ  21111
..                                 ...                ...   ...    ...
558                 Superior Bank, FSB           Hinsdale    IL  32646
559                Malta National Bank              Malta    OH   6629
560    First Alliance Bank & Trust Co.         Manchester    NH  34264
561  National State Bank of Metropolis         Metropolis    IL   3815
562                   Bank of Honolulu           Honolulu    HI  21029

                   Acquiring Institution       Closing Date
0                            Equity Bank   October 23, 2020
1              United Fidelity Bank, fsb   October 16, 2020
2                         MVB Bank, Inc.      April 3, 2020
3             Farmers and Merchants Bank  February 14, 2020
4                        Industrial Bank   November 1, 2019
..                                   ...                ...
558                Superior Federal, FSB      July 27, 2001
559                    North Valley Bank        May 3, 2001
560  Southern New Hampshire Bank & Trust   February 2, 2001
561              Banterra Bank of Marion  December 14, 2000
562                   Bank of the Orient   October 13, 2000

[563 rows x 6 columns]]

#### Importing XML Files from the Web

XML files are semi-structured, but you're at the mercy of the file creator. If every record has the same format it will be much easier, but practical applications often require a lot of custom code. Here is an example that includes a nice parser class: http://www.austintaylor.io/lxml/python/pandas/xml/dataframe/2016/07/08/convert-xml-to-pandas-dataframe/

In [ ]:
#Importing XML files

#### Importing JSON Files from the Web

Like XML, JSON files are semi-structured and may require work to capture the schema into a dataframe. Here is a simple example:

In [86]:
#Importing JSON files
#more like dictionaries
url = 'https://raw.githubusercontent.com/chrisalbon/simulated_datasets/master/data.json'

# Load the first sheet of the JSON file into a data frame
df = pd.read_json(url, orient = 'columns')
df.head()

   integer            datetime  category
0        5 2015-01-01 00:00:00         0
1        5 2015-01-01 00:00:01         0
2        9 2015-01-01 00:00:02         0
3        6 2015-01-01 00:00:03         0
4        6 2015-01-01 00:00:04         0

## Part 2: Data Munging

Data munging is manipulating data to get it into a form that we can start running analyses on (which usually means getting the data into a DataFrame). Before we get to this stage, we may need to remove headers or footers, transpose columns to rows, split wide data tables into long ones, and so on. (Nb. Excel files can be particularly troublesome, because users can format their data in mixed, complex shapes.) Essentially, we need to follow Hadley Wickham's guidelines for tidy datasets (http://vita.had.co.nz/papers/tidy-data.html):

The end goal of the cleaning data process:

- each variable should be in one column
- each observation should comprise one row
- each type of observational unit should form one table
- include key columns for linking multiple tables
- the top row contains (sensible) variable names
- in general, save data as one file per table

### Dataset Morphology

Once we have our dataset in a DataFrame (or Series, if our data is only 1-dimensional), we can start examining its size and content.

How many rows and columns are in `bikes`?

In [87]:
#ANSWER (rows, columns)
bikes.shape

(17379, 17)

What are the column names in `bikes`?

In [88]:
#ANSWER:all the names of the columns
bikes.columns

Index(['instant', 'dteday', 'season', 'yr', 'mnth', 'hr', 'holiday', 'weekday',
       'workingday', 'weathersit', 'temp', 'atemp', 'hum', 'windspeed',
       'casual', 'registered', 'cnt'],
      dtype='object')

What are the data types of these columns?

In [89]:
#ANSWER
bikes.columns
bikes.head()

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0,3,13,16
1,2,2011-01-01,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0,8,32,40
2,3,2011-01-01,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0,5,27,32
3,4,2011-01-01,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0,3,10,13
4,5,2011-01-01,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0,0,1,1

What is the (row) index for this DataFrame?

In [90]:
#ANSWER
bikes.index

RangeIndex(start=0, stop=17379, step=1)

https://www.dataquest.io/blog/python-json-tutorial/

## Slicing and Dicing

It is often preferable to refer to DataFrame columns by name, but there is more than one way to do this. 
Do `bikes['season']` and `bikes[['season']]` give the same object? Demonstrate:

In [105]:
#ANSWER
print(bikes['season'].head())
print(type(bikes['season']))
print(type(bikes[['season']]))
(bikes['season'].dtypes)

0    1
1    1
2    1
3    1
4    1
Name: season, dtype: int64
<class 'pandas.core.series.Series'>
<class 'pandas.core.frame.DataFrame'>

dtype('int64')

How would we use object notation to show the first 4 rows of `atemp`?

In [108]:
#ANSWER
print(bikes.atemp[:4], bikes.atemp[2:4])

0    0.2879
1    0.2727
2    0.2727
3    0.2879
Name: atemp, dtype: float64 2    0.2727
3    0.2879
Name: atemp, dtype: float64

Algorithms that loop over multiple columns often access DataFrame columns by index. However, none of the following work (try them out by uncommenting / removing the "#E: " ):

In [111]:
bikes[[0]]
bikes[0]
bikes[0,0]
bikes[[0,0]]

KeyError: "None of [Int64Index([0], dtype='int64')] are in the [columns]"

What is the correct way to access the 1st row of the DataFrame by its index?

In [114]:
#ANSWER
bikes[:1]

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0,3,13,16

What is the correct way to access the 2nd column of the DataFrame by its index?

In [117]:
#ANSWER: number
bikes.iloc[:,1] 
#strings
bikes.loc[:,'season']

0        1
1        1
2        1
3        1
4        1
        ..
17374    1
17375    1
17376    1
17377    1
17378    1
Name: season, Length: 17379, dtype: int64

## Handling Missing Values

What is the Pandas `isnull` function for?

?
ANSWER:

In [ ]:
# Detect missing values for an array-like object.
# This function takes a scalar or array-like object and indicates whether values are missing 
#(NaN in numeric arrays, None or NaN in object arrays, NaT in datetimelike).

We can apply `isnull` to the `bikes` DataFrame to show the result for every element:

In [118]:
bikes.isnull() #null value False(0)/True(1)
bikes.isnull().head() 
bikes.isnull().sum() #counting 0 & 1
bikes['windspeed'].isnull().sum()

0

However, we usually start at a higher level. How many nulls are in `bikes` altogether?

In [0]:
#ANSWER

If this result were nonzero we would next want to find out which columns contained nulls. How can this be done in one line of code?

In [0]:
#ANSWER

What is the Numpy object `nan` used for? (Write a descriptive answer.)

?
ANSWER: Marking a data point as invalid.

Write (and verify) a function that performs scalar division with built-in handling of the edge case (i.e. return a value instead of just trapping the error):

In [0]:
#ANSWER

Apply the Pandas `isna` function to the following data objects:

In [122]:
x = 2.3
y = np.nan
print(x, y)

2.3 nan

In [0]:
#ANSWER

In [123]:
array = np.array([[1, np.nan, 3], [4, 5, np.nan]])
print(array)

[[ 1. nan  3.]
 [ 4.  5. nan]]

In [0]:
#ANSWER

How is the pandas I/O parameter `na_values` used?

? ANSWER:

## Data Profiling

### Counts

When there are categorical variables in a dataset we will want to know how many possible values there are in each column. (Nb. If the dataset is a sample of a larger one, our sample may not capture all possible values of every categorical.)

How many (different) seasons are in `bikes`?

In [124]:
#ANSWER
#ANSWER
bikes['season'].value_counts()
bikes.weekday.value_counts()
bikes.mnth.value_counts()

7     1488
5     1488
12    1483
8     1475
3     1473
10    1451
6     1440
11    1437
9     1437
4     1437
1     1429
2     1341
Name: mnth, dtype: int64

### Ranges

Print the range of the `instant`, `dteday`, and `windspeed` columns:

In [151]:
#ANSWER

Compute and print the overall minimum and maximum of the numeric data columns:

In [144]:
bikes.min

<bound method DataFrame.min of        instant      dteday  season  yr  mnth  hr  holiday  weekday  \
0            1  2011-01-01       1   0     1   0        0        6
1            2  2011-01-01       1   0     1   1        0        6
2            3  2011-01-01       1   0     1   2        0        6
3            4  2011-01-01       1   0     1   3        0        6
4            5  2011-01-01       1   0     1   4        0        6
...        ...         ...     ...  ..   ...  ..      ...      ...
17374    17375  2012-12-31       1   1    12  19        0        1
17375    17376  2012-12-31       1   1    12  20        0        1
17376    17377  2012-12-31       1   1    12  21        0        1
17377    17378  2012-12-31       1   1    12  22        0        1
17378    17379  2012-12-31       1   1    12  23        0        1

       workingday  weathersit  temp   atemp   hum  windspeed  casual  \
0               0           1  0.24  0.2879  0.81     0.0000       3
1               0           1  0.22  0.2727  0.80     0.0000       8
2               0           1  0.22  0.2727  0.80     0.0000       5
3               0           1  0.24  0.2879  0.75     0.0000       3
4               0           1  0.24  0.2879  0.75     0.0000       0
...           ...         ...   ...     ...   ...        ...     ...
17374           1           2  0.26  0.2576  0.60     0.1642      11
17375           1           2  0.26  0.2576  0.60     0.1642       8
17376           1           1  0.26  0.2576  0.60     0.1642       7
17377           1           1  0.26  0.2727  0.56     0.1343      13
17378           1           1  0.26  0.2727  0.65     0.1343      12

       registered  cnt
0              13   16
1              32   40
2              27   32
3              10   13
4               1    1
...           ...  ...
17374         108  119
17375          81   89
17376          83   90
17377          48   61
17378          37   49

[17379 rows x 17 columns]>

In [145]:
bikes.max

<bound method DataFrame.max of        instant      dteday  season  yr  mnth  hr  holiday  weekday  \
0            1  2011-01-01       1   0     1   0        0        6
1            2  2011-01-01       1   0     1   1        0        6
2            3  2011-01-01       1   0     1   2        0        6
3            4  2011-01-01       1   0     1   3        0        6
4            5  2011-01-01       1   0     1   4        0        6
...        ...         ...     ...  ..   ...  ..      ...      ...
17374    17375  2012-12-31       1   1    12  19        0        1
17375    17376  2012-12-31       1   1    12  20        0        1
17376    17377  2012-12-31       1   1    12  21        0        1
17377    17378  2012-12-31       1   1    12  22        0        1
17378    17379  2012-12-31       1   1    12  23        0        1

       workingday  weathersit  temp   atemp   hum  windspeed  casual  \
0               0           1  0.24  0.2879  0.81     0.0000       3
1               0           1  0.22  0.2727  0.80     0.0000       8
2               0           1  0.22  0.2727  0.80     0.0000       5
3               0           1  0.24  0.2879  0.75     0.0000       3
4               0           1  0.24  0.2879  0.75     0.0000       0
...           ...         ...   ...     ...   ...        ...     ...
17374           1           2  0.26  0.2576  0.60     0.1642      11
17375           1           2  0.26  0.2576  0.60     0.1642       8
17376           1           1  0.26  0.2576  0.60     0.1642       7
17377           1           1  0.26  0.2727  0.56     0.1343      13
17378           1           1  0.26  0.2727  0.65     0.1343      12

       registered  cnt
0              13   16
1              32   40
2              27   32
3              10   13
4               1    1
...           ...  ...
17374         108  119
17375          81   89
17376          83   90
17377          48   61
17378          37   49

[17379 rows x 17 columns]>

### Quantiles

Pandas makes computing quantiles easy. This is how to get the median of a Series:

In [127]:
bikes['atemp'].quantile(0.5)

0.4848

Of course, the `quantiles` method can take a tuple as its argument. Compute the 10th, 25th, 50th, 75th, and 90th percentiles in one line of code:

In [136]:
#ANSWER
bikes['atemp'].quantile((0.1, 0.25, 0.5, 0.75, 0.9))

0.10    0.2424
0.25    0.3333
0.50    0.4848
0.75    0.6212
0.90    0.6970
Name: atemp, dtype: float64

### Cuts

Sometimes we want to split the sample not by the quantiles of the distribution but by the range of the data. Let's take a closer look at `atemp`:

In [129]:
type(bikes['atemp'])

pandas.core.series.Series

In [130]:
bikes.sample(5)

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
16478,16479,2012-11-24,4,1,11,8,0,6,0,2,0.26,0.2121,0.44,0.4627,7,55,62
14555,14556,2012-09-03,3,1,9,16,1,1,0,1,0.74,0.6970,0.70,0.2239,165,335,500
13765,13766,2012-08-01,3,1,8,18,0,3,1,3,0.76,0.7121,0.62,0.2239,105,786,891
2527,2528,2011-04-20,2,0,4,5,0,3,1,1,0.40,0.4091,0.94,0.1940,1,14,15
11687,11688,2012-05-07,2,1,5,4,0,1,1,2,0.46,0.4545,0.88,0.1343,0,2,2

Suppose we decide to sort these values into 4 bins of equal width, but we want to apply the resulting groups to the entire DataFrame. Basically, we need to add a row label that indcates which bin each sample belongs in. Let's call this label "atemp_level", and use the `cut` method to populate it:

In [131]:
atemp_level = pd.cut(bikes['atemp'], bins = 4)

What is `atemp_level`?

In [0]:
#ANSWER

Here is a random sample of `atemp_level`:

In [132]:
atemp_level.sample(5)

15206    (0.25, 0.5]
10116    (0.25, 0.5]
15910    (0.25, 0.5]
4506     (0.75, 1.0]
6271     (0.25, 0.5]
Name: atemp, dtype: category
Categories (4, interval[float64]): [(-0.001, 0.25] < (0.25, 0.5] < (0.5, 0.75] < (0.75, 1.0]]

So, by default, `cut` produces labels that indicate the bin boundaries for each element in the series it was applied to. Usually, we will specify labels that are appropriate to the discretisation we are applying:

In [133]:
atemp_level = pd.cut(bikes['atemp'], bins = 4, labels = ["cool", "mild", "warm", "hot"])
atemp_level.sample(5)

6566     mild
10821    mild
2874     mild
8724     cool
550      cool
Name: atemp, dtype: category
Categories (4, object): ['cool' < 'mild' < 'warm' < 'hot']

Incorporate the new `atemp_level` column into the `bikes` DataFrame and use it to count the number of "mild" `atemp` entries in `season` 2:

In [0]:
#ANSWER

*Nb. The `atemp_level` variable we created is what the R language calls a "factor". Pandas has introduced a new data type called "category" that is similar to R's factors.*

# Synthetic Data

Sometimes we may want to generate test data, or we may need to initalise a series, matrix, or data frame for input to an algorithm. Numpy has several methods we can use for this.

Execute the following, then check the shape and content of each variable:

In [134]:
# Creating arrays with initial values
a = np.zeros((3))
b = np.ones((1,3))
c = np.random.randint(1,10,(2,3,4))   # randint(low, high, size)
d = np.arange(4)
e = np.array( [[1,2,3,4], [5,6,7,8]] )

In [0]:
# Cleaning Data

## Load Data

Load rock.csv and clean the dataset.

## Check Column Names

Check column names and clean.

# Replace Null Values With 0

Check 'release' column whether this column have any null value or not. Replace null value with 0.

In [135]:
rock.isnull().sum()

NameError: name 'rock' is not defined

# Check Datatypes of Dataset

Check datatypes of the dataset. Is there any column which should be int instead of object? Fix the column.

# Check Min, Max of Each Column

Is there any illogical value in any column? How can we fix that?

# Write Some Functions

## Write a function that will take a row of a DataFrame and print out the song, artist, and whether or not the release date is < 1970

## Write a function that converts cells in a DataFrame to float and otherwise replaces them with np.nan

## Apply these functions to your dataset

## Describe the new float-only DataFrame.



> 
>
>

>

>

>



---



---



> > > > > > > > > © 2019 Institute of Data


---



---