### 0. Introduction

In [ ]:
# This Pandas includes how to create a DataFrame, return it and its type, how toslice the DataFrame using series extracting columns and/or rows, changing indexing names, getting different statistical inferences from the DataFrame

In [2]:
#Import package
import pandas as pd

In [3]:
#Creating a DataFrame with integers (array/table with individual entries for rows and columns)
df = pd.DataFrame({'Yes': [50, 21, 10, 15, 10, 'Banana'], 'No': [131,21, 14, 26, 10, 'Apple']})

In [11]:
# To return DataFrame
df

      Yes     No
0      50    131
1      21     21
2      10     14
3      15     26
4      10     10
5  Banana  Apple

In [5]:
# To return types in DataFrame
type(df)

pandas.core.frame.DataFrame

In [10]:
series = df['Yes']

In [11]:
series

0    50
1    21
Name: Yes, dtype: int64

In [12]:
type(series)

pandas.core.series.Series

In [13]:
df.head()

   Yes   No
0   50  131
1   21   21

In [16]:
df['No'][0]

131

In [17]:
# Row # 3
df.iloc[3]

Yes    15
No     26
Name: 3, dtype: int64

In [18]:
# To get row 1 to 3
df.iloc[1:4]

   Yes  No
1   21  21
2   10  14
3   15  26

In [25]:
# To get all values for column No
df['No'] [3]

26

In [23]:
df.iloc[2:4 , 0]

2    10
3    15
Name: Yes, dtype: int64

In [26]:
#To get all statistics
df.describe()

             Yes          No
count   4.000000    4.000000
mean   24.000000   48.000000
std    17.907168   55.551778
min    10.000000   14.000000
25%    13.750000   19.250000
50%    18.000000   23.500000
75%    28.250000   52.250000
max    50.000000  131.000000

In [27]:
df.min()

Yes    10
No     14
dtype: int64

In [29]:
df.max()

Yes     50
No     131
dtype: int64

In [32]:
df.mean()

Yes    24.0
No     48.0
dtype: float64

In [31]:
df.var()

Yes     320.666667
No     3086.000000
dtype: float64

In [30]:
df.std()

Yes    17.907168
No     55.551778
dtype: float64

In [36]:
df['Yes']. value_counts()

15    1
21    1
10    1
50    1
Name: Yes, dtype: int64

In [37]:
df['Yes'].unique()

array([50, 21, 10, 15], dtype=int64)

In [41]:
# Ideally each column should have the same data. In this case is 'dirty data'
df.value_counts()

Yes     No
Banana  Apple    1
50      131      1
21      21       1
15      26       1
10      14       1
        10       1
dtype: int64

In [42]:
df['Yes'].describe()

count      6
unique     5
top       10
freq       2
Name: Yes, dtype: int64

In [14]:
# To create a DataFrame with strings as values
water_quality = pd.DataFrame({'pH': ['Alkaline', 'Acid', 'Neutral'], 'Oxygen Saturation': ['Poor', 'Moderate', "Well Oxygenated"], 'Conductivity' : ['Brackish', 'Fresh', "Saline"]})
water_quality

         pH Oxygen Saturation Conductivity
0  Alkaline              Poor     Brackish
1      Acid          Moderate        Fresh
2   Neutral   Well Oxygenated       Saline

In [ ]:
# to read data from a fime from excel:
pd.read_excel('file.')
# if data is in a piece of paper, you can scan iot and then with deep learning you can read letters and numbers, like an array one pdf you have scanned